# Inworld API Key
INWORLD_API_KEY=
# Inworld workspace in the form of "workspaces/<workspace_id>"
INWORLD_WORKSPACE=workspaces/default

INWORLD_HOST=api.inworld.ai
INWORLD_ENGINE_HOST=api-engine.inworld.ai
